<div class="row">
    <br>

    <div class="col-4">
        <button type="button" class="btn btn-primary " (click)="suma()">+</button>
        <br>

        <button type="button" class="btn btn-primary" (click)="resta()">-</button>
    </div>
    <div class="col-4">
        <button type="button" class="btn btn-primary" (click)="multiplicacion()">*</button>

        <br>
        <button type="button" class="btn btn-primary" (click)="division()">/</button>
    </div>
    <div class="col-4">
        <button type="button" class="btn btn-primary" (click)="potencia()">^</button>

        <br>
        <button type="button" class="btn btn-secondary" (click)="limpiar()">CE</button>
    </div>
</div>